#cont{
    background-color:#050B87;
}
#titulo1{
    color:#F2DE04;
}
#titulo2{
    color:#fff;
}
#caja{
    width: 50%;
    height: 200px;
    background-color: #F7F8F9;
    font-size: 100%;
    
}
#agregarestudiante{
    background-color:#050B87;
}
#forms{
    width:75%;
}
#entrar{
    background-color:#050B87;
}
#titulo3{
    color:#fff;
}